[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django_heroku = "*"
django-crispy-forms = "==1.7.2"
django-filter = "==2.0.0.dev1"
django-forms-bootstrap = "==3.1.0"
django-rest-framework-mongoengine = "==3.3.1"
djangorestframework = "==3.11.2"
gunicorn = "==19.8.1"
idna = "==2.6"
mongoengine = "==0.9.0"
pymongo = "==2.7.1"
python-dotenv = "==0.8.2"
pytz = "==2018.4"
requests = "==2.18.4"
selenium = "==3.12.0"
six = "==1.11.0"
"urllib3" = "==1.22"
whitenoise = "==3.3.1"
Django = "==2.0"
sqlparse = "==0.2.4"

[dev-packages]

[requires]
python_version = "3.6"
